/* chart tab styling */
.nav-item{
    background-color: rgb(98, 10, 10);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  

.nav-tabs .nav-item .nav-link{
    color: rgb(200, 200, 200) !important;
}
.nav-tabs .nav-item .active{
    color: rgb(56, 56, 56) !important;
    background-color: antiquewhite;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* chart container styling */
#drug-abuse-charts-container{
    background-color:antiquewhite;
    position:relative;
    width:100%;
    height: 80vh;
    overflow: hidden;
}

#drc-charts-container{
    background-color:antiquewhite;
    position:relative;
    width:100%;
    height: 80vh;
    overflow: hidden;
}

.chart-container{
    box-sizing: border-box;
    position:absolute;
    background-color:antiquewhite;
    top:0%;
    left: 0%;
    height:100%;
   }

#demographics-container{
    z-index:100
}

#drc-area-container{
    z-index:100
}

#drc-population-container{
    z-index:50
}

/* filters styling */
.show-btn{
    position:absolute; 
    z-index:500
}

.filters{
       background-color:rgba(255,255,255,0.8);
       height:fit-content;
       width:fit-content;
       font-size: small;
       position:absolute; 
       z-index:500;
       top:45px;
   }

.chart-container .btn-sm{
    font-size: small;
    width: 85px;
    height:25px;
    padding:2px
}

.input-group .form-control{
    width:95px;
    font-size: small;
    height:25px;
}

.input-group .input-group-text{
    max-width: fit-content;
    font-size: small;
    height:25px;
}

/* animation classes */
.hidden{
    transform:translateY(-100%);
    transition: transform 1s  /*% -> takes width/height of the element*/
}

.show{
    transform: translateX(0) ;
    transition: transform 1s;
}
.filter-error{
    animation: filter-error 0.15s linear 0s 4 alternate ;
}

@keyframes filter-error {
    from {
        left: 16px;
        background-color: rgba(255, 234, 234, 0.8);
    }
    to{
        left: 20px;
        background-color: rgba(255,234,234,0.8);
    }
}

/* tablet styling */
@media screen and (min-width: 577px) {
}

/* desktop styling */
@media screen and (min-width: 769px) {
    #drug-abuse-charts-container{
        width:100%;
        height: 80vh;
    }
    #drc-charts-container{
        width:100%;
        height: 85vh;
    }
    
    .chart-container{
        position:relative;
        height:42.5vh;
        border: 2px double rgb(98, 10, 10);
       }

    #drug-abuse-charts-container .chart-container{
        height:80vh
    }
}
