@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Cantarell&display=swap');

body{
    background-color: rgb(37, 37, 37);
    padding-top:54px;
    font-family: 'Cantarell';
    line-height: 1.1;
    letter-spacing:1px;
}
h2{
    font-family: 'Neuton';
    font-weight: 400;
    font-size: 2em;
    color:darkgray;
    text-shadow: 2px 2px #3c0d0d, 1px 1px #3c0d0d;
    line-height: 1;
}

p{
    color: darkgrey
}

.lead{
    line-height: 1.4;
    font-weight: 200;
    text-indent: 60px;
}

nav{
    border-bottom:3px solid rgb(98, 10, 10);
    background-color:rgb(27, 26, 26)
}

.btn-red{
    color: rgb(216, 214, 214);
    background-color: rgb(98, 10, 10);
    font-weight: 600;
    border: rgb(98, 10, 10)
}


.btn-red:hover{
    background-color:floralwhite;
    color: rgb(98, 10, 10)
}


.form-bg{
    background-color: rgb(69, 69, 69);
    height:fit-content;
}

.form-bg .form-control{
    background-color: rgb(195, 195, 195);
}

.form-bg .form-control:focus{
    background-color: rgb(195, 195, 195);
}

.mail-form{
    max-width: 800px;
    color: darkgray
}